%h1 Capture
 
#preview
  - if @preview && @preview.thumbnail
    = render :partial => 'thumbnail', :locals => {:preview => @preview}
 
%p
  = button_to_remote 'Capture', :url => {:action => :perform_capture }
  = button_to_remote 'Capture many', :url => {:action => :perform_capture_many }
  = button_to_remote 'Stop capture many', :url => {:action => :perform_end_capture_many }
%p
  = link_to 'Back', :back

= periodically_call_remote :url => 'update', :frequency => 1.0, :method => :get
