 
.pagination
  = will_paginate @captures

- @captures.each do |capture|
  - if capture && capture.thumbnail
    %div{:id => "capture_#{capture.id}", :class => (capture.capture_derivatives.empty? ? 'capture' : 'capture-downloaded')}
      = render :partial => 'thumbnail', :locals => {:capture => capture}

.pagination
  = will_paginate @captures

= periodically_call_remote :url => 'list', :frequency => 1.0, :method => :get
