 
#preview
  - if @capture && @capture.thumbnail
    = render :partial => 'thumbnail', :locals => {:capture => @capture}

#image_links
  = render :partial => 'image_links', :locals => {:capture => @capture}
.buttons
  #download
    = render :partial => 'download_button', :locals => {:capture => @capture}



= periodically_call_remote :url => "/capture/show/#{@capture.id}", :frequency => 1.0, :method => :get
