!!!
 
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
 
%head
  %meta{ 'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
  %title Kapture
  = stylesheet_link_tag 'standard', :media => :all
  = javascript_include_tag :defaults
  = javascript_include_tag 'prototype'
 
%body
  %p{:style => "color: green"}
    = flash[:notice]
 
  #mode
    = render :partial => 'camera/mode'

  = yield


  .links
    =link_to 'Capture', :controller => :camera
    =link_to 'Camera config', :controller => :camera_config
    =link_to 'Cleanup', :controller => :cleanup
 
  #bunntekst
    %p Copyright 2010 Tallak Tveide

