!!!
 
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
 
%head
  %meta{ 'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
  %meta{ 'name' => "viewport", :content => "width=device-width"}
  %title Kapture
  = stylesheet_link_tag 'kapture', :media => :all
  = javascript_include_tag :defaults
  = javascript_include_tag 'prototype'
 
%body
  .bounding
    %p#flash{:style => "color: green"}
      = flash[:notice]
   
    #mode
      = render :partial => 'capture/mode'

    .menu
      =link_to 'Capture', :controller => :capture
      =link_to 'Browse', :controller => :capture, :action => :list
      =link_to 'Config', :controller => :config
      =link_to 'Cleanup', :controller => :cleanup
   
    .content
      = yield


    .footer
      Copyright 2010 Tallak Tveide

